<umbrella-toolbar class="umbrella-toolbar {% if form | length == 0  and widget | length ==0 %}d-none{% endif %}">

    {% if form | length > 0 %}
        <form class="form-inline js-toolbar-form" enctype="multipart/form-data" method="{{ form.vars.method }}">
            {{ umbrella_form_theme(form) }}

            <div class="d-flex">
                {% for child in form -%}
                    <div class="me-2">
                        {{- form_widget(child) -}}
                    </div>
                {%- endfor -%}
            </div>

        </form>
    {% endif %}

    <div class="widgets">
        {% for child in widget -%}
            {{- render_widget(child) -}}
        {%- endfor -%}
    </div>


</umbrella-toolbar>