.content-page {
  padding-bottom: 0;
}


// search input
.menu-search {
  padding: 10px 30px;
  padding-top: 0;

  > div {
    position: relative;

    .menu-search-input {
      height: calc(1.5em + .9rem + 2px);
      border-radius: 0;
      padding-left: 40px;

      //border: none;
      //background-color: $gray-100;

      background-color: transparent;
      border-top: 0;
      border-right: 0;
      border-left: 0;
    }

    i {
      position: absolute;
      z-index: 9;
      font-size: 20px;
      line-height: 38px;
      left: 10px;
      top: 0;
    }
  }
}


body[data-leftbar-compact-mode="condensed"] {
  .menu-search {
    display: none;
  }
}
