.leftside-menu {
  .logo {
    span {
      font-weight: bold;
      font-size: 1.5rem;
    }

    i {
      color: $primary;
    }
  }

  // HACK : simplebar height
  &.has-search .side-nav {
    margin-bottom: 48px;
  }
}