###> Ide ###
/.idea/*

###> node modules ###
yarn.lock
yarn-error.log
/node_modules

###> composer ###
/vendor/
composer.lock

###> Linter ###
.php-cs-fixer.cache

###> phpunit ###
.phpunit.result.cache