###> Ide ###
/.idea/*

###> node modules ###
/node_modules

###> yarn ###
yarn-error.log
/.pnp.cjs
/.pnp.loader.mjs
/.yarn/*
!/.yarn/releases
!/.yarn/plugins

###> composer ###
/vendor/
composer.lock

###> Linter ###
.php-cs-fixer.cache

###> phpunit ###
.phpunit.result.cache