<li class="nav-item dropdown"
    is="umbrella-notification"
    data-poll-interval="{{ umbrella_admin.notificationPollInterval() }}"
    data-refresh-url="{{ path('umbrella_admin_notification_list') }}">

    <a class="nav-icon dropdown-toggle" href="#" data-bs-toggle="dropdown">
        <div class="position-relative">
            <i class="mdi mdi-bell-outline"></i>
{#            <span class="indicator">4</span>#}
        </div>
    </a>

    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0">
        <div class="dropdown-menu-header">
            {{ 'label.notifications' | trans({}, 'UmbrellaAdmin') }}
        </div>
        <div class="list-group notification-items">
        </div>
{#        <div class="dropdown-menu-footer">#}
{#            <a href="#" class="text-muted">Show all notifications</a>#}
{#        </div>#}
    </div>
</li>