{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Welcome on back-end</h4>
            <p>Check online documentation here : <a href="https://github.com/acantepie/umbrella-admin-demo" class="text-primary">https://github.com/acantepie/umbrella-admin-demo</a></p>
        </div>
    </div>
{% endblock %}