<div class="text-center mb-4">
    {% if admin.appLogo() %}
        <img src="{{ asset(admin.appLogo()) }}" height="36" alt="{{ admin.appName() }}">
    {% else %}
        <h1>{{ admin.appName() }}</h1>
    {% endif %}
</div>