<div class="card-header pt-3 pb-3 text-center bg-primary">
    {% if uac.appLogo() %}
        <img src="{{ asset(uac.appLogo()) }}">
    {% else %}
        <h4>{{ uac.appName() }}</h4>
    {% endif %}
</div>