{% extends '@UmbrellaAdmin/layout.html.twig' %}

{% block body %}
    <body class="env-{{ app.environment }} security-page">
        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}

{% block html_template %}
{% endblock %}