{% extends '@UmbrellaAdmin/layout.html.twig' %}

{% block body %}
    <div class="page page-center">
        <div class="container-tight py-4">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}