// datatable
umbrella-datatable {
  display: block;
}

.card-datatable {
  padding-bottom: $card-spacer-y;
  padding-top: $card-spacer-y;

  umbrella-datatable {
    .inline-toolbar {
      padding-right: $card-spacer-x;
      padding-left: $card-spacer-x;
    }

    .table-footer {
      padding-right: $card-spacer-x;
      padding-left: $card-spacer-x;
    }
  }
}

.modal-datatable {
  padding-bottom: $modal-inner-padding;
  padding-top: $modal-inner-padding;

  umbrella-datatable {
    .inline-toolbar {
      padding-right: $modal-inner-padding;
      padding-left: $modal-inner-padding;
    }

    .table-footer {
      padding-right: $modal-inner-padding;
      padding-left: $modal-inner-padding;
    }
  }
}

umbrella-datatable {

  table.dataTable {
    width: 100% !important;

    // Change icons view
    thead .sorting {
      &::after {
        content: "\F04BA";
        font-family: Material Design Icons;
        font-size: 1rem;
      }

      &::before {
        content: '';
      }

      &.sorting_asc::after {
        content: "\F0045";
        opacity: 1;
      }

      &.sorting_desc::after {
        content: "\F005D";
        opacity: 1;
      }

    }
  }
}

table.dataTable {

  // tree
  tr.branch {

    &.expanded .indenter a i.mdi::before {
      transform: rotate(90deg);
    }

    .indenter a i.mdi::before {
      font-weight: bold;
      font-size: 1.2em;
    }

    .indenter {
      background-image: none;
      margin-right: 10px;
    }
  }

  .details-handle, .select-handle {
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
    cursor: pointer;
  }

  .details-handle {
    i.mdi::before {
      color: $primary;
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .details-handle[aria-expanded=true] i:before {
    transform: rotate(90deg);
  }
}

.toolbar.inline-toolbar {

  .toolbar-filter, .toolbar-action {
    margin-bottom: .5rem;
  }

  .toolbar-bulk-row {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .toolbar-filter, .toolbar-action {
      margin-top: .5rem;
    }
  }

  @include media-breakpoint-up(md) {

    .toolbar-row {
      display: flex;
    }

    .toolbar-filters {
      display: flex;
      flex-wrap: wrap;

      .toolbar-filter:not(:last-child) {
        margin-right: .5rem;
      }

    }

    .toolbar-actions {
      display: flex;
      flex-wrap: wrap;

      .toolbar-action:not(:last-child) {
        margin-right: 0.5rem;
      }

    }

  }


}

