// datatable
umbrella-datatable {
  display: block;
}

.card-datatable {
  padding-bottom: $card-spacer-y;
  padding-top: $card-spacer-y;

  umbrella-datatable {
    .inline-toolbar {
      padding-right: $card-spacer-x;
      padding-left: $card-spacer-x;
    }

    .table-footer {
      padding-right: $card-spacer-x;
      padding-left: $card-spacer-x;
    }
  }
}

.modal-datatable {
  padding-bottom: $modal-inner-padding;
  padding-top: $modal-inner-padding;

  umbrella-datatable {
    .inline-toolbar {
      padding-right: $modal-inner-padding;
      padding-left: $modal-inner-padding;
    }

    .table-footer {
      padding-right: $modal-inner-padding;
      padding-left: $modal-inner-padding;
    }
  }
}

umbrella-datatable {

  table.dataTable {
    width: 100% !important;

    > tbody > tr.odd > * {
      --#{$variable-prefix}table-accent-bg: var(--#{$variable-prefix}table-striped-bg);
      color: var(--#{$variable-prefix}table-striped-color);
    }

    // Change icons view
    thead tr > th.sorting, thead tr > td.sorting {
      &::after {
        content: "\F04BA";
        font-family: Material Design Icons;
        font-size: 1rem;
      }

      &::before {
        content: '';
      }

      &.sorting_asc::after {
        content: "\F0045";
        opacity: 1;
      }

      &.sorting_desc::after {
        content: "\F005D";
        opacity: 1;
      }

    }
  }
}

table.dataTable {

  // tree
  tr.branch {

    &.expanded .indenter a i.mdi::before {
      transform: rotate(90deg);
    }

    .indenter a i.mdi::before {
      font-weight: bold;
      font-size: 1.2em;
    }

    .indenter {
      background-image: none;
      margin-right: 10px;
    }
  }
}

// toolbar
.toolbar.inline-toolbar {

  .toolbar-filter, .toolbar-action {
    margin-bottom: .5rem;
  }

  .toolbar-bulk-row {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .toolbar-info {
      line-height: 2.2rem;
    }

    .toolbar-filter, .toolbar-action {
      margin-top: .5rem;
    }
  }

  @include media-breakpoint-up(md) {

    .toolbar-row {
      display: flex;
    }

    .toolbar-filters {
      display: flex;
      flex-wrap: wrap;

      .toolbar-filter:not(:last-child) {
        margin-right: .5rem;
      }

    }

    .toolbar-actions {
      display: flex;
      flex-wrap: wrap;

      .toolbar-action:not(:last-child) {
        margin-right: 0.5rem;
      }

    }

  }
}

// select plugin
.select-toolbar {
  padding: .5rem $table-cell-padding-x;
}

table.dataTable {
  tbody tr {
    &[data-select=false] .row-select {
      pointer-events: none;
      input {
        display: none;
      }
    }
  }
}

// child row plugin
table.dataTable {
  .toggle-child-row {
    text-decoration: none;

    &::after {
      content: '\F0140';
      font-family: "Material Design Icons";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 1.5em;
    }

    &.collapsed::after {
      content: '\F0142';
    }
  }
}

// tree plugin
table.dataTable {

  // tree plugin

  .tree-node.tree-node-first .tree-move-up {
    pointer-events: none;
    opacity: 0.3;
  }

  .tree-node.tree-node-last .tree-move-down {
    pointer-events: none;
    opacity: 0.3;
  }

  .tree-spacer {
    position: relative;
    display: inline;
  }

  a.tree-spacer {
    text-decoration: none;

    &::after {
      content: "\F0140";
      font-family: "Material Design Icons";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline;
      text-decoration: inherit;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 1.5em;
      top: 0;
      bottom: 0;
      position: absolute;
      right: 0;
    }

    &.collapsed::after {
      content: '\F0142';
    }

  }
}

