// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/bootstrap";

// Icon pack
@import '~@mdi/font/scss/materialdesignicons';

// Toastify
@import "~toastify-js/src/toastify.css";

// TomSelect
@import "~tom-select/dist/scss/tom-select.bootstrap5";

// FlatPickr
@import "~flatpickr";

// DataTable
@import '~datatables.net-bs5/css/dataTables.bootstrap5.css';
@import "~jquery-treetable/css/jquery.treetable.css";

// Dragula
@import "~dragula/dist/dragula.css"; // plugin for drag&drop

// Plugins
@import "./flatpickr";
@import "./datatable";
@import "./umbrella_collection";
@import "./link";
@import "./toast";
@import "./form";
@import "./vichfile";
@import "./table";
@import "./umbrella_select";
