.umbrella-breadcrumb {
  display: flex;
  align-items: center;

  > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: $border-radius;
    background-color: $primary;
    margin-right: 1rem;
    color: color-contrast($primary);
    font-size: 1.5rem;
  }
}