<h1 class="navbar-brand navbar-brand-autodark">
    {% if options.logo_route %}
        <a href="{{ path(options.logo_route) }}">
    {% endif %}

    {% if options.logo %}
        <img src="{{ asset(options.logo ) }}" width="110" height="32" alt="{{ options.title }}" class="navbar-brand-image">
    {% else %}
        {{ options.title }}
    {% endif %}

    {% if options.logo_route %}
        </a>
    {% endif %}
</h1>