{% use "@UmbrellaAdmin/Menu/sidebar_block.html.twig" %}

<div class="leftside-menu">

    {% block head %}
        {% include '@UmbrellaAdmin/Menu/head.html.twig' %}
    {% endblock %}

    {% block sidemenu %}
        <div class="h-100" id="left-side-menu-container" data-simplebar>
            <ul class="side-nav">
                {{ block('menu_widget') }}
            </ul>
            <div class="clearfix"></div>
        </div>
    {% endblock %}
</div>