{% extends '@UmbrellaAdmin/layout.html.twig' %}

{% trans_default_domain 'UmbrellaAdmin' %}

{% do admin_breadcrumb(false)
    .setIcon('uil-user')
    .add('label.my_account' | trans({}, 'UmbrellaAdmin')) %}

{% block content %}
    {{ umbrella_form_theme(settings_form) }}
    <form method="post">
        <div class="card card-body">
            {{ form_rest(settings_form) }}
            <button type="submit" class="btn btn-primary d-inline">
                <i class="mdi mdi-check me-1"></i>
                {{ 'Save' | trans }}
            </button>
        </div>
    </form>
{% endblock %}