{% use "bootstrap_5_layout.html.twig"  %}

{% use "@UmbrellaCore/Form/umbrellacollection.html.twig" %}
{% use "@UmbrellaCore/Form/ckeditor.html.twig" %}
{% use "@UmbrellaCore/Form/divider.html.twig" %}
{% use "@UmbrellaCore/Form/autocomplete.html.twig" %}
{% use "@UmbrellaCore/Form/vich_file.html.twig" %}

{% block form_widget_simple -%}
    {% if input_prefix or input_suffix %}
        <div class="input-group">
            {% if input_prefix %}
                {{ input_prefix | raw }}
            {% endif %}
            {{- parent() -}}
            {% if input_suffix %}
                {{ input_suffix | raw }}
            {% endif %}
        </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{%- endblock form_widget_simple %}