{% extends "@UmbrellaAdmin/Mail/layout.html.twig" %}

{% block content %}
    <p>Bonjour,</p>
    <p>Une demande de réinitialisation du mot de passe de <b>{{user.getFullName()}}</b> a été effectuée sur le back-office {{ admin_theme_name() }}.</p>
    <p>Cliquez <a href="{{ reset_url }}">ici</a> pour définir votre nouveau mot de passe.</p>
    <p>Si vous n'êtes pas à l'origine de la demande vous pouvez ignorer cet e-mail.</p>
    <p>Cordialement</p>
{% endblock %}