//
// custom-variables.scss
//

// Shadow
$shadow:                            0px 0px 35px 0px rgba(154, 161, 171, 0.15) !default;
$shadow-lg:                         0 0 45px 0 rgba(0, 0, 0, 0.12) !default;

// Background left-sidebar
$bg-leftbar:                        linear-gradient(135deg, #8f75da 0%, #727cf5 60%) !default;
$bg-leftbar-light:                #ffffff !default;
$bg-leftbar-dark:                 #313a46 !default;
$bg-topnav:                       #313a46 !default;

// Deatched left sidenav
$bg-detached-leftbar:             #ffffff !default;

// Topbar Height
$topbar-height:                     70px !default;

// Leftbar width
$leftbar-width:                     260px !default;

// Boxed Layout
$boxed-layout-width:                1300px !default;
$boxed-layout-bg:                 #ffffff !default;

// Menu item colors (Default-dark)
$menu-item:                       #cedce4 !default;
$menu-item-hover:                 #ffffff !default;
$menu-item-active:                #ffffff !default;

// Menu item colors (light)
$menu-item-light:                 #6c757d !default;
$menu-item-light-hover:           #727cf5 !default;
$menu-item-light-active:          #727cf5 !default;

// Detached Menu item colors
$menu-item-dark:                  #6c757d !default;
$menu-item-dark-hover:            #727cf5 !default;
$menu-item-dark-active:           #727cf5 !default;

// Dark sidenav Menu item color
$sidebar-dark-menu-item:          #8391a2 !default;
$sidebar-dark-menu-item-hover:    #bccee4 !default;
$sidebar-dark-menu-item-active:   #ffffff !default;

// Rightbar Width
$rightbar-width:       280px !default;
$rightbar-bg:                     #ffffff !default;
$rightbar-title-bg:               #313a46 !default;
$rightbar-title-color:            #ffffff !default;
$rightbar-title-btn-bg:           #444e5a !default;
$rightbar-title-btn-color:        #ffffff !default;
$rightbar-overlay-bg:             #37404a !default;

// Topbar Background
$bg-topbar:                       #ffffff !default;
$bg-topbar-dark:                  #313a46 !default;

// Topbar Search
$bg-topbar-search:                #f1f3fa !default;
$bg-topbar-dark-search:           #3c4655 !default;

// Helpbox
$help-box-light-bg:               rgba(255,255,255,0.07) !default;
$help-box-dark-bg:                #727cf5 !default;

// Font weight
$font-weight-semibold:              600 !default;

// Font path
$mdi-font-path: '~@mdi/font/fonts' !default;
$nunito-font-path: '~umbrella_admin/fonts' !default;

// Dropdown Large
$dropdown-lg-width:                 320px !default;

// Page title color
$page-title-color:                  inherit !default;

// Nav-pill background
$nav-pills-bg:                    #eef2f7 !default;

// Custom-accordion
$custom-accordion-title-color:    #313a46 !default;

// Dragula demo background
$dragula-bg:                      #f7f9fb !default;

// Form wizard header background
$form-wizard-header-bg:           #eef2f7 !default;

// Text title color
$text-title-color:                #6c757d !default;

// card Loader background
$card-loader-bg:                  #313a46 !default;

// Chat widget
$chat-primary-user-bg:            #fef5e4 !default;
$chat-secondary-user-bg:          #f1f3fa !default;

// User authentication Background
$auth-bg:                         #ffffff !default;

// Apex chart
$apex-grid-color:                 #f9f9fd !default;

// Hero
$hero-bg: linear-gradient(to bottom,#8669ed,#727cf5) !default;