{% apply spaceless %}
<tr>
    <td colspan="{{ columns | length }}" class="text-center">
        <i class="mdi mdi-spin mdi-loading" aria-hidden="true"></i> {{ 'common.loading' | trans }}
    </td>
</tr>
{% endapply %}