{% extends '@UmbrellaAdmin/layout.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ render_table(table) }}
        </div>
    </div>
{% endblock %}
