<div class="nav-item notification-widget dropdown d-none d-md-flex me-3" is="umbrella-notification"
    data-poll-interval="{{ admin.notificationPollInterval() }}"
    data-refresh-url="{{ path('umbrella_admin_notification_list') }}">

    <a href="#notifications" class="" data-bs-toggle="dropdown">
        <i class="mdi mdi-bell-outline"></i>
        <span class="badge bg-red"></span>
    </a>

    <div class="notification-dropdown dropdown-menu dropdown-menu-end dropdown-menu-card" id="notifications">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ 'label.notifications' | trans({}, 'UmbrellaAdmin') }}</h5>
            </div>
            <div class="list-group list-group-flush notification-items">
            </div>
        </div>
    </div>
</div>