{% extends "@UmbrellaAdmin/edit_modal.html.twig" %}

{% block modal_title %}
    <h4 class="modal-title">{{ entity.id
        ? ( 'action.edit_user' | trans({}, 'UmbrellaAdmin'))
        : ( 'action.add_user' | trans({}, 'UmbrellaAdmin')) }}</h4>
{% endblock %}